<h2 mat-dialog-title>Edit Activity</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <div [hidden]="!showNumberFields">
      <mat-form-field class="shortWidth">
        <mat-label>number</mat-label>
        <input matInput type="number" formControlName="activityNumber" />
      </mat-form-field>
      <input
        type="checkbox"
        formControlName="multipleNumbers"
        (change)="onSubmit()"
      />
      multiple
    </div>
    <mat-form-field class="fullWidth">
      <textarea
        matInput
        type="text"
        placeholder="label"
        formControlName="activityLabel"
        autofocus
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
