.details {
  display: grid;
  grid-template-rows: 106px auto auto;
  min-height: 100vh;
  grid-row-gap: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: solid 1px #ccc;
}

.domainDetails {
  margin-top: 10px;
}

.fullWidth {
  width: 100%;
  padding-left: 15px;
}

.inputWidth {
  width: 200px;
  padding-left: 15px;
}

h3 {
  padding-left: 15px;
  margin-bottom: 0;
  font-weight: bold;
}

mat-list {
  overflow: auto;
  padding-top: 0;
}

::ng-deep.mat-form-field-infix {
  border: none;
}

.bottom-border {
  border-bottom: 2px solid #ccc;
}
