<div class="details smallScrollbar">
  <div class="domainDetails">
    <h3>Domain</h3>
    <form>
      <mat-form-field class="fullWidth">
        <input
          matInput
          type="text"
          (input)="changeName($event)"
          [value]="domainName | async"
        />
      </mat-form-field>
    </form>
  </div>
  <div class="actorList">
    <h3>Actors</h3>
    <mat-list>
      <mat-list-item
        *ngFor="let iconName of selectedActors | async let i = index"
        draggable="true"
        (dragover)="allowDrop($event)"
        (dragstart)="onDragStart(i)"
        (drop)="onDrop($event, iconName, true, i)"
      >
        <app-details-list-item
          [icon]="getIconForName(iconName)"
        ></app-details-list-item>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="workobjectList">
    <h3>Workobjects</h3>
    <mat-list>
      <mat-list-item
        *ngFor="let iconName of selectedWorkobjects | async let i = index"
        draggable="true"
        (dragover)="allowDrop($event)"
        (dragstart)="onDragStart(i)"
        (drop)="onDrop($event, iconName, false, i)"
      >
        <app-details-list-item
          [icon]="getIconForName(iconName)"
        ></app-details-list-item>
      </mat-list-item>
    </mat-list>
  </div>
</div>
