.details {
  display: grid;
  grid-template-rows: 70px auto auto;
  height: calc(100vh - 120px);
  grid-row-gap: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: solid 2px #ccc;
}

.fullWidth {
  width: 100%;
  padding-left: 15px;
}

h3 {
  padding-left: 15px;
  margin-bottom: 0;
  font-weight: bold;
}

mat-list {
  overflow: auto;
  padding-top: 0;
}

::ng-deep.mat-form-field-infix {
  border: none;
}

.actorList {
  border-bottom: 1px solid #ccc;
}
