.dialogWidth {
  width: 50vw;
  mat-label {
    font-size: 12pt;
  }
}

.descriptionInput {
  min-height: 75px;
}

.radioGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.radioOption {
  width: 100px;
}
