<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="dialogWidth" color="accent">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <br />
    <mat-form-field class="dialogWidth" color="accent">
      <mat-label>Description</mat-label>
      <textarea
        maxlength="2000"
        matInput
        class="descriptionInput"
        formControlName="description"
        (keydown.enter)="preventDefault($event)"
        (keyup.enter)="save()"
        (keyup.escape)="close()"
      ></textarea>
    </mat-form-field>

    <br />
    <mat-label>Granularity</mat-label>
    <br />
    <mat-radio-group
      formControlName="granularity"
      class="radioGroup"
      color="accent"
    >
      <mat-radio-button [value]="null">None</mat-radio-button>
      <mat-radio-button [value]="Granularity.FINE_GRAINED"
        >Fine</mat-radio-button
      >
      <mat-radio-button [value]="Granularity.COARSE_GRAINED"
        >Coarse</mat-radio-button
      >
    </mat-radio-group>

    <mat-label>Point In Time</mat-label>
    <br />
    <mat-radio-group
      formControlName="pointInTime"
      class="radioGroup"
      color="accent"
    >
      <mat-radio-button [value]="null">None</mat-radio-button>
      <mat-radio-button [value]="PointInTime.AS_IS">As Is</mat-radio-button>
      <mat-radio-button [value]="PointInTime.TO_BE">To Be</mat-radio-button>
    </mat-radio-group>

    <mat-label>Domain Purity</mat-label>
    <br />
    <mat-radio-group
      formControlName="domainPurity"
      class="radioGroup"
      color="accent"
    >
      <mat-radio-button [value]="null">None</mat-radio-button>
      <mat-radio-button [value]="DomainPurity.PURE">Pure</mat-radio-button>
      <mat-radio-button [value]="DomainPurity.DIGITALIZED"
        >Digitalized</mat-radio-button
      >
    </mat-radio-group>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" mat-flat-button (click)="close()">Cancel</button>
  <button type="button" mat-flat-button color="primary" (click)="save()">
    Save
  </button>
</mat-dialog-actions>
