.autosaveEnabled, .autosaveInterval {
  display: inline-grid;
  grid-template-columns: auto auto;
  width: 300px;
  grid-row-gap: 5px;
  height: 20px;
}

.autosaveEnabled {
  padding-bottom: 2px;
}

.autosaveInterval {
  padding-bottom: 10px;
}

.autosaveIntervalSpan {
  justify-self: start;
}

