<div class="autosaveEnabled">
  <span>Autosave Enabled</span>
  <input
    class="enableButton"
    type="checkbox"
    [checked]="autosaveEnabledObservable | async"
    (change)="setAutosaveState()"
  />
</div>
<br>
<div class="autosaveInterval">
  <span class="autosaveIntervalSpan">Autosave Interval</span>
  <input
    type="number"
    [value]="autosaveIntervalObservable | async"
    (change)="setInterval($event)"
  />
</div>

<mat-list *ngFor="let autosave of autosaves">
  <mat-list-item>
    <span>{{ autosave.date }}</span>
    <button mat-raised-button-button (click)="applyAutosave(autosave)" class="applyButton">apply</button>
  </mat-list-item>
</mat-list>
