<div class="autosaveEnabled">
  <span>Autosave Enabled</span>
  <input
    type="checkbox"
    [checked]="autosaveEnabledObservable | async"
    (change)="setAutosaveState()"
  />
</div>
<br>
<div class="autosaveInterval">
  <span class="autosaveIntervalSpan">Autosave Interval</span>
  <input
    type="number"
    [value]="autosaveIntervalObservable | async"
    (change)="setInterval($event)"
  />
</div>

<div *ngFor="let autosave of autosaves">
  <span>{{ autosave.date }}</span>
  <button (click)="applyAutosave(autosave)">apply</button>
</div>
