.autosaveEnabled, .autosaveInterval {
  display: inline-grid;
  grid-template-columns: 120px auto;
  width: 300px;
  grid-row-gap: 5px;
  height: 20px;
}

.enableButton {
  justify-self: start;
}

.autosaveEnabled {
  padding-bottom: 2px;
}

.autosaveInterval {
  padding-bottom: 10px;
}

.autosaveIntervalSpan {
  padding-top: 2px;
  justify-self: start;
}

.loadAutosaveButton {
  margin-left: 5px;
}

