{
    "extends": "plugin:bpmn-io/es6",
    "env": {
        "browser": true,
        "mocha": true
    },
    "globals": {
        "assert": true,
        "expect": true
    },
    "rules": {
        "no-fallthrough": "off"
    }
}
