@if (autosaveConfiguration.configuration$ | async; as configuration) {
  <div class="header">
    <div class="content">
      <div class="heading">Autosave Options</div>
      <div class="option">
        <input #activated type="checkbox" [checked]="configuration.activated" />
        Enabled
      </div>
      <div class="grid option">
        Save every x seconds
        <input
          #interval
          class="numberInput"
          min="1"
          type="number"
          [value]="configuration.interval"
        />
        Keep last x drafts
        <input
          #drafts
          class="numberInput"
          min="1"
          type="number"
          [value]="configuration.maxDrafts"
        />
      </div>
      <div class="grid option">
        <span class="spacer"></span>
        <button
          mat-stroked-button
          (click)="save(activated.checked, +drafts.value, +interval.value)"
        >
          Apply
        </button>
      </div>
    </div>
  </div>
}
