@if (autosaveConfiguration.configuration$ | async; as configuration) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>Autosave Options</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="option">
        <input #activated type="checkbox" [checked]="configuration.activated" />
        <mat-label>Enabled</mat-label>
      </div>
      <div class="grid option">
        <mat-label>Save every x seconds</mat-label>
        <input
          #interval
          class="numberInput"
          min="1"
          type="number"
          [value]="configuration.interval"
        />
        <mat-label>Keep last x drafts</mat-label>
        <input
          #drafts
          class="numberInput"
          min="1"
          type="number"
          [value]="configuration.maxDrafts"
        />
      </div>
      <div class="grid option">
        <span class="spacer"></span>
        <button
          mat-stroked-button
          (click)="save(activated.checked, +drafts.value, +interval.value)"
        >
          Apply
        </button>
      </div>
    </mat-card-content>
  </mat-card>
}
