.header {
  background-color: #f7f7f8;
  margin: 8px;
}

.content {
  margin: 8px;
  padding: 8px;
}

.heading {
  font-weight: bold;
}

.option {
  margin: 8px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 8px;
}

.numberInput {
  margin-left: 4px;
  width: 56px;
  height: inherit;
}

button {
  letter-spacing: 0.05em;
  line-height: 0.9rem;
}
