span {
  font-size: 15pt;
  color: white;
}

#dictionaryButton {
  opacity: 0.2;
  pointer-events: none;
}

.headerButton:hover {
  cursor: pointer;

  span {
    color: white;
  }
}

.disabled span,
.disabled:hover span {
  cursor: initial;
  color: gray;
}

.materialIconButton:hover {
  color: lightgrey;
}

.url-popup {
  color: black;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
