span {
  font-size: 15pt;
  color: white;
}

#dictionaryButton {
  opacity: 0.2;
  pointer-events: none;
}

.headerButton:hover {
  cursor: pointer;

  span {
    color: white;
  }
}

.disabled span,
.disabled:hover span {
  cursor: initial;
  color: gray;
}

.materialIconButton:hover {
  color: lightgrey;
}
