.IconContainer {
  width: 150px;
  height: 150px;
}

.content {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.icon {
  width: 50px;
  height: 50px;
}

.toggleButton {
 margin: 2px;
}

.footer {
 ::ng-deep.mat-button-toggle-label-content {
    font-size: 10pt !important;
    padding: 0 5px !important;
    line-height: inherit !important;
 }
}
