.autosaveEnabled, .autosaveInterval {
  display: inline-grid;
  grid-template-columns: 120px auto;
  width: 300px;
  grid-row-gap: 5px;
  height: 20px;
}

.enableButton {
  justify-self: start;
}

.autosaveEnabled {
  padding-bottom: 2px;
}

.autosaveInterval {
  padding-bottom: 10px;
}

.autosaveIntervalSpan {
  padding-top: 2px;
  justify-self: start;
}

.saveButton {
  align-self: end;
  right: 0;
}

.cardContent {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.item {
  display: grid;
  grid-template-columns: auto auto 64px;
  width: 100%;
}

.itemSpan {
  align-self: center;
}

.items {

  ::ng-deep.mat-list-item-content {
    padding: 0;
  }
  padding-top: 0!important;
}

.inputContainer {
  display: inline-grid;
  width: fit-content;
}

.numberInput {
  justify-self: end;
  width: 64px;
}

.alignSelfCenter {
  align-self: center;
}
