<mat-card>
  <mat-card-header>
    <mat-card-title>Autosave</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cardContent">
    <div  class="alignSelfCenter">
      <input type="checkbox" [checked]="autosaveEnabled" (change)="setAutosaveEnabled()"/>
      <mat-label>Enabled</mat-label>
    </div>
    <div class="inputContainer">
      <mat-label>Interval</mat-label>
      <input
        class="numberInput"
        min="1"
        type="number"
        [value]="autosaveInterval"
        (change)="setInterval($event)"
      />
    </div>
    <div class="inputContainer">
      <mat-label>Amount</mat-label>
      <input
        class="numberInput"
        min="1"
        type="number"
        [value]="autosaveAmount"
        (change)="setAutosaveAmount($event)"
      />
    </div>
    <div class="separator"></div>
    <button class="saveButton" mat-raised-button color="primary" (click)="save()">Save</button>
  </mat-card-content>
</mat-card>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Autosaves
      </mat-panel-title>
    <mat-panel-description>
      List of all Autosaves
    </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngFor="let autosave of autosaves" class="items">
      <mat-list-item>
        <div class = "item">
          <span class="itemSpan">{{ autosave.date }}</span>
          <div class="separator"></div>
          <button mat-raised-button color="primary" (click)="loadAutosave(autosave)">load</button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
