.details {
  display: grid;
  grid-template-rows: 70px auto 3px auto;
  height: calc(100vh - 120px);
  grid-row-gap: 1px;
}

#line {
  padding: 2px;
  position: relative;
  right: 0;
  left: 0;
  width: 100%;
  border-bottom: solid 2px #ccc;
  margin-top: -5px;
}

h3 {
  padding-left: 5px;
}
