<div class="details">
  <div class="domainDetails">
    <h3>Domain name</h3>
    <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
      <input class="mdc-text-field__input textInput" type="text" (input)="changeName($event)" [value]="domainName | async">
    </label>
    <!-- <span>Drag and drop rows to define order in the modeler</span> -->
  </div>
  <div class="actorList">
    <h3>Actors</h3>
    <mat-list>
      <mat-list-item *ngFor="let iconName of (selectedActors | async)">
        <app-details-list-item [icon]="getIconForName(iconName)"></app-details-list-item>
      </mat-list-item>
    </mat-list>
  </div>
  <div id ="line"></div>
  <div class="workobjectList">
    <h3>Workobjects</h3>
    <mat-list >
      <mat-list-item *ngFor="let iconName of (selectedWorkobjects | async)">
        <app-details-list-item [icon]="getIconForName(iconName)"></app-details-list-item>
      </mat-list-item>
    </mat-list>
  </div>
</div>
