<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span class="mr-10">
      <span class="headline">{{ title$ | async }} </span>
    </span>
    <span title="Domain">{{ currentDomainName$ | async }} </span>
    <span class="domainNameSpacer"></span>
    <span title="Replay Step" *ngIf="isReplay$ | async">
      Step: {{ stepDescription$ | async }}</span
    >

    <span class="buttonSpacer"></span>

    <app-header-buttons></app-header-buttons>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="smallScrollbar description" *ngIf="showDescription$ | async">
  <div class="descriptionText">{{ description$ | async }}</div>
</mat-card>
