.materialIconButton {
  font-size: 24px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
}

span {
  font-size: 15pt;
  color: white;
}

#dictionaryButton {
  opacity: 0.2;
  pointer-events: none;
}

.borderRight {
  border-right: white solid 2px !important;
}

.borderLeft {
  border-left: white solid 2px !important;
}

.headerButton {
  background-color: transparent;
  border: none;
}

.headerButton:hover {
  cursor: pointer;
  color: white;
}
