.noPointer {
  cursor: default !important;
}

.description {
  top: 0;
  max-width: 100vw;
  overflow-y: scroll;
  display: grid;
}

.descriptionText {
  position: relative;
  font-size: 10pt;
  overflow-wrap: anywhere;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 12pt;
}

.description:hover {
  cursor: default;
}

.titleSpacer {
  flex: 1 1 auto;
}

.buttonSpacer {
  margin-right: 15px;
}

.headline:hover > .editIcon {
  display: contents;
}

.headline > .editIcon {
  display: none;
}

.headerButton {
  color: white;
}

.headerButton:hover {
  cursor: pointer;
}
