span {
  font-size: 15pt;
  color: white;
}

#dictionaryButton {
  opacity: 0.2;
  pointer-events: none;
}

.borderRight {
  border-right: white solid 2px !important;
}

.borderLeft {
  border-left: white solid 2px !important;
}

.headerButton:hover {
  cursor: pointer;
  color: white;
}
