<div *ngIf="!(isReplay$ | async)">
  <button
    class="headerButton"
    title="Edit Title and Description"
    (click)="openHeaderDialog()"
  >
    <span class="material-icons materialIconButton"> edit </span>
  </button>
  <button
    class="headerButton"
    title="Label Dictionary"
    (click)="openLabelDictionary()"
  >
    <span class="material-icons materialIconButton" title="Label Dictionary">
      spellcheck
    </span>
  </button>
  <button
    id="buttonImport"
    class="headerButton"
    title="Import story from file"
    onclick="document.getElementById('import').click();"
  >
    <span class="material-icons materialIconButton"> unarchive </span>
  </button>
  <input
    type="file"
    accept=".dst, .dst.svg, .egn, .egn.svg"
    style="display: none"
    id="import"
    onclick="this.value=null;"
    (change)="import()"
    name="file"
  />
  <button
    class="headerButton"
    id="export"
    title="Export story as .dst, .svg or .png file"
    (click)="openDownloadDialog()"
  >
    <span
      class="material-icons-outlined materialIconButton"
      *ngIf="!(isDirty$ | async)"
    >
      archive
    </span>
    <span class="material-icons materialIconButton" *ngIf="isDirty$ | async">
      archive
    </span>
  </button>
  <button
    id="buttonStartReplay"
    class="headerButton"
    title="Start replay"
    (click)="startReplay()"
  >
    <span class="material-icons materialIconButton"> play_arrow </span>
  </button>
  <button
    class="headerButton"
    title="Show keyboard shortcuts"
    (click)="openKeyboardShortcutsDialog()"
  >
    <span class="material-icons materialIconButton"> info </span>
  </button>

  <button class="headerButton" title="Settings" (click)="openSettings()">
    <span
      class="material-icons materialIconButton"
      title="Change Icons and Settings"
    >
      settings
    </span>
  </button>

  <button
    class="headerButton"
    title="Hide Description"
    *ngIf="showDescription | async"
    (click)="setShowDescription(false)"
  >
    <span class="material-icons materialIconButton toggle"> expand_less </span>
  </button>
  <button
    class="headerButton"
    title="Show Description"
    *ngIf="!(showDescription | async)"
    (click)="setShowDescription(true)"
  >
    <span class="material-icons materialIconButton toggle"> expand_more</span>
  </button>
</div>
<div *ngIf="isReplay$ | async">
  <button class="headerButton" title="Previous Step" (click)="previousStep()">
    <span class="material-icons materialIconButton"> skip_previous </span>
  </button>
  <button class="headerButton" title="NextStep" (click)="nextStep()">
    <span class="material-icons materialIconButton"> skip_next </span>
  </button>
  <button class="headerButton" title="Stop replay" (click)="stopReplay()">
    <span class="material-icons materialIconButton"> stop </span>
  </button>

  <button
    class="headerButton"
    title="Hide Description"
    *ngIf="showDescription | async"
    (click)="setShowDescription(false)"
  >
    <span class="material-icons materialIconButton toggle"> expand_less </span>
  </button>
  <button
    class="headerButton"
    title="Show Description"
    *ngIf="!(showDescription | async)"
    (click)="setShowDescription(true)"
  >
    <span class="material-icons materialIconButton toggle"> expand_more</span>
  </button>
</div>
