.header {
  display: flex;
  height: 46px;
  background-color: #f7f7f8;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.history {
  display: inline-flex;
  margin-left: 16px;
  align-self: center;
  align-items: center;
  justify-self: left;
  height: inherit;
}

button {
  letter-spacing: 0.05em;
  line-height: 0.9rem;
  justify-self: right;
}

.buttons {
  display: inline-flex;
  align-self: center;
  align-items: center;
  justify-self: right;
  height: inherit;
}

mat-list {
  margin-left: 8px;
  margin-right: 8px;
}

mat-list-item {
  margin-top: 8px;
  border: 1px solid #b9bcc6;
}

.draft {
  display: grid;
  grid-template-columns: auto max-content max-content;
}

.item-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item-date {
  font-weight: normal;
  margin-left: 15px;
  margin-right: 15px;
}
