.labelDictionary {
  display: grid;
  grid-template-columns: auto auto;
  top: 0;
  bottom: 0;
  max-height: 75vh;
  grid-column-gap: 5px;
  width: 75vw;

  ::ng-deep.mat-list-item {
    height: 40px !important;
    padding-bottom: 2px !important;
  }

  ::ng-deep.mat-list-item-content {
    padding: 0 !important;
  }
}

h3 {
  font-weight: bold;
}

.icon {
  width: 36px;
  height: 36px;
}

.inputText {
  width: 100%;
  white-space: pre-wrap;
  resize: none;
}

.activityListHeader {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.activityListTitle {
  justify-self: left;
}

.saveButton {
  justify-self: end;
  padding-right: 0 !important;
}

.saveButtonSpan {
  margin-left: 2px;
}

.footer {
  display: inline-grid;
  width: 100%;
  margin-top: 15px;
}
