<div class="labelDictionary">
  <div class="workobjectList">
    <h3>Workobject List</h3>
    <mat-list>
      <mat-list-item
        *ngFor="let workobjectEntry of workobjectEntriesSubject | async"
      >
        <input
          class="inputText"
          type="text"
          [value]="workobjectEntry.name"
          (change)="updateWorkobjectEntry($event, workobjectEntry)"
        />
      </mat-list-item>
    </mat-list>
  </div>
  <div class="verticalFullLine"></div>
  <div class="activityList">
    <div class="activityListHeader">
      <h3 class="activityListTitle">Activity List</h3>
      <div></div>
      <button class="saveButton" mat-button title="update dictionaries" (click)="save()">
        <span class="material-icons materialIconButton">library_books</span>
        <span>update Dictionaries</span>
      </button>
    </div>
    <mat-list>
      <mat-list-item
        *ngFor="let activityEntry of activityEntriesSubject | async"
      >
        <input
          class="inputText"
          type="text"
          [value]="activityEntry.name"
          (change)="updateActivityEntry($event, activityEntry)"
        />
      </mat-list-item>
    </mat-list>
  </div>
</div>
