<div class="labelDictionary">
  <div class="workobjectList">
    <h3>Workobjects</h3>
    <mat-list>
      <mat-list-item
        *ngFor="let workobjectEntry of workobjectEntriesSubject | async"
      >
        <input
          matInput
          class="inputText"
          [value]="workobjectEntry.name"
          (change)="updateWorkobjectEntry($event, workobjectEntry)"
        />
      </mat-list-item>
    </mat-list>
  </div>
  <div class="activityList">
    <h3 class="activityListTitle">Activities</h3>
    <mat-list>
      <mat-list-item
        *ngFor="let activityEntry of activityEntriesSubject | async"
      >
        <textarea
          class="inputText activity"
          [value]="activityEntry.name"
          (change)="updateActivityEntry($event, activityEntry)"
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="3"
          (keydown.enter)="preventDefault($event)"
          (keyup.enter)="save()"
          (keyup.escape)="close()"
        >
        ></textarea>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<footer class="footer">
  <button
    class="saveButton"
    mat-button
    color="primary"
    title="update dictionaries"
    (click)="save()"
  >
    <span class="material-icons materialIconButton">library_books</span>
    <span class="saveButtonSpan">update Dictionaries</span>
  </button>
</footer>
