<div class="header">
  <button (click)="save()">Save</button>
</div>

<div class="labelDictionary">
  <div class="workobjectList">
    <h3>Workobject List</h3>
    <mat-list>
      <mat-list-item
        *ngFor="let workobjectEntry of workobjectEntriesSubject | async"
      >
        <input
          class="inputText"
          type="text"
          [value]="workobjectEntry.name"
          (change)="updateWorkobjectEntry($event, workobjectEntry)"
        />
      </mat-list-item>
    </mat-list>
  </div>
  <div class="verticalFullLine"></div>
  <div class="activityList">
    <h3>Activity List</h3>
    <mat-list>
      <mat-list-item
        *ngFor="let activityEntry of activityEntriesSubject | async"
      >
        <input
          class="inputText"
          type="text"
          [value]="activityEntry.name"
          (change)="updateActivityEntry($event, activityEntry)"
        />
      </mat-list-item>
    </mat-list>
  </div>
</div>
