.labelDictionary {
  display: grid;
  grid-template-columns: 50% 1px auto;
  top: 0;
  bottom: 0;
  max-height: 100%;
}
.header {
   display: grid;
   grid-template-columns: 120px auto ;
 }

h3 {
  padding-left: 15px;
  margin-bottom: 0;
  font-weight: bold;
}

.line {
  border-left: 1px solid #ccc;
  padding-right: 5px;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
}

.icon {
  width: 36px;
  height: 36px;
}

.inputText {
  margin-top: 20px;
  width: 75%;
}

.listEntry {
  width: 100%;
  display: block;
  height: 40px;
}
