<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="dialogWidth" color="accent">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <br />
    <mat-form-field class="dialogWidth" color="accent">
      <mat-label>Description</mat-label>
      <textarea
        maxlength="2000"
        matInput
        class="descriptionInput"
        formControlName="description"
        (keydown.enter)="preventDefault($event)"
        (keyup.enter)="save()"
        (keyup.escape)="close()"
      ></textarea>
    </mat-form-field>

    <br />

    <mat-form-field class="dialogWidth" color="accent">
      <mat-label>Granularity</mat-label>
      <input matInput type="text" formControlName="granularity" />
    </mat-form-field>

    <div class="scopeValues">
      <div class="scopeValueButtonToggle">
        <mat-label class="subHeader">Point In Time</mat-label>
        <mat-button-toggle-group formControlName="pointInTime">
          <mat-button-toggle
            [class.isSelected]="pointInTime() === null"
            [value]="null"
            >Not Specified</mat-button-toggle
          >
          <mat-button-toggle
            [class.isSelected]="pointInTime() === PointInTime.AS_IS"
            [value]="PointInTime.AS_IS"
            >As Is</mat-button-toggle
          >
          <mat-button-toggle
            [class.isSelected]="pointInTime() === PointInTime.TO_BE"
            [value]="PointInTime.TO_BE"
            >To Be</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
      <div class="scopeValueButtonToggle">
        <mat-label class="subHeader">Domain Purity</mat-label>
        <mat-button-toggle-group formControlName="domainPurity">
          <mat-button-toggle
            [class.isSelected]="domainPurity() === null"
            [value]="null"
            >Not Specified</mat-button-toggle
          >
          <mat-button-toggle
            [class.isSelected]="domainPurity() === DomainPurity.PURE"
            [value]="DomainPurity.PURE"
            >Pure</mat-button-toggle
          >
          <mat-button-toggle
            [class.isSelected]="domainPurity() === DomainPurity.DIGITALIZED"
            [value]="DomainPurity.DIGITALIZED"
            >Digitalized</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button type="button" mat-flat-button (click)="close()">Cancel</button>
  <button type="button" mat-flat-button color="primary" (click)="save()">
    Save
  </button>
</mat-dialog-actions>
