.dialogWidth {
  width: 50vw;
  mat-label {
    font-size: 12pt;
  }
}

.descriptionInput {
  min-height: 75px;
}

.scopeValues {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.scopeValueButtonToggle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
}

.subHeader {
  font-size: small;
}

::ng-deep.isSelected button {
  background-color: #a4d7e1;
}
