@import "diagram-js/assets/diagram-js.css";
@import "../../../../dist/libs/diagram-js-egon-plugin/style.css";

/* You can add global styles to this file, and also import other style files */
html, body, #canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
