@import "diagram-js/assets/diagram-js.css";
/* TODO: Find a better way to import the css files */
@import "../../../../dist/libs/diagram-js-egon-plugin/style.css";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
