html, body {
  height: 99.3%;
  width: 99.9%;
  position: absolute;
}

input{
  margin-bottom: 20px;
}

#modal{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.17;
  position: absolute;
  z-index: 1;
}

#allIconsListHeader {
  position: relative;
  left: 25px;
  top: 5px;
  font-size: 9pt;
}

#iconCustomizationContainer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 11pt;  
  border: solid 1px #aaaaab;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  margin-right: 5px;
  position: absolute;
  z-index:2;
}

.iconConfigCustomization {
  display: grid;
  grid-template-rows: 25px auto 25px;
}

.topButtonRow{
  display: grid;
  grid-template-columns: 120px auto 95px 300px auto 150px 187px 15px;
}

#iconCustomizationButton {
  position: relative; 
  top: -1em;
  margin-left: 3px;
}

.iconListsContainer{
  margin-top: 3px; 
  display: grid;
  grid-template-columns: auto auto;
}

#allIconListContainer{
  border: solid 1px #aaaaab;
  margin-bottom: 3px;
  margin-right: 2px;
}

#allIconsList{
  max-height: 85vh;
  overflow-y: scroll;
}

#selectedWorkObjectsList {
  max-height: 41vh;
  overflow-y: scroll;
}

#selectedActorsList {
  max-height: 41vh;
  overflow-y: scroll;
}

.selectedIconsContainer{
  border: solid 1px #aaaaab;
  margin-bottom: 3px;
  margin-right: 2px;
  display: grid;
  grid-template-rows: auto 1px auto;
}

#bottomButtonRow{
  margin-top: 5px;
  display: grid;
  grid-template-columns: 150px auto 100px 100px 60px;
}

#importConfigurationButton{
  margin-left: 3px;
  margin-right: 37px;
  height: 25px;
}

#exportConfigurationButton{
  margin-left: 3px;
  margin-right: 3px;
  height: 25px;
}

#resetIconConfigButton{
  justify-self: left;
  height: 25px;
}

#cancelIconCustomizationButton{
  justify-self: right;
  height: 25px;
}

#customIconConfigSaveButton {
  height: 25px;
}

#customIconConfigCancelButton {
  margin-right: 3px;
}

#uploadCutomIcon {
  justify-self: start;
}

.headerAndCanvas {
  margin-top: 5px;
  height: 100%;
  width:100%;
  display: grid;
  grid-template-rows: 125px 1px auto;
}

.headlineContainer {
  display: grid;
  margin-left: 5px;
  grid-template-columns: auto 340px;
  grid-template-rows: 125px;
}

.headlineAndInfo {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  display: grid;
  justify-self: stretch;
  grid-template-rows: 40px 85px;
}

.ButtonsAndLogos{
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  display: grid;
  justify-self: end;
}

.ButtonContainer {
  margin-top: 0.2em;
  grid-column: 1/1;
  position: relative;
}

.logoContainer {
  margin-left: 10px;
  grid-column: 2/2;
  position: relative;
}

.replayButtons {
  margin-top: 1.4em;
}

#headline {
  font-size: 17pt;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; 
  -webkit-hyphenate-character: auto;  /* not supported by Chrome*/
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 40px;
  cursor: pointer;
}

#headline:hover {
  color: red;
}

#headline:hover > #edit {
  opacity: 100;
}

#infoText{
  margin-bottom: 3px;
  position: relative;
  font-size: 10pt;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; 
  -webkit-hyphenate-character: auto;  /* not supported by Chrome*/
}

.infoText:hover{
cursor: default;
}

#imgWPS {
  margin-left: 17px;
}

#line{
  padding: 2px;
  position: relative;
  right: 0em;
  left : 0em;
  width: 100%;
  border-bottom: solid 2px #CCC;
  margin-top: -5px;
}

#edit {
  opacity: 0;
}

#buttonImport, #export, #buttonImageDownloads, #dictionaryButton{
  margin-right: -2px;
  background-color: white;
  border: 1px solid white;
}

#buttonSVG, #buttonPNG{
  margin-right: -2px;
  font-size: 12pt;
  background-color: white;
  border: 1px solid #ddd;
}

#buttonPNG {
  margin-left:1px;
}

#dictionaryButton{
  opacity : 0.2;
  pointer-events : 'none';
}

#buttonImport:hover, #export:hover, #buttonImageDownloads:hover, #buttonSVG:hover, #buttonPNG:hover, #buttonStartReplay:hover, #buttonStopReplay:hover, #buttonNextStep:hover, #buttonPreviousStep:hover, #brokenDSTDialogCuttonCancel:hover, #closeNoContentOnCanvasInfo:hover, #keyboardShortcutInfoDialogButtonCancel:hover, #iconCustomizationButton:hover, #downloadDialogCancelButton:hover, #keyboardShortcutInfoButton:hover{
  border: 1px solid #CCC;
  cursor: pointer;
}

#buttonStartReplay, #buttonStopReplay, #buttonNextStep, #buttonPreviousStep ,#keyboardShortcutInfoButton, #iconCustomizationButton{
  background-color: white;
  border: 1px solid white;
  margin-right: -4px;
}

#replayStep{
  padding: 1px;
  opacity: 0;
  margin-top: -2.05em;
  margin-left: 13.3em;
}

#dialog, #numberDialog, #labelDialog, #downloadDialog {
  padding: 30px 30px 30px 30px;
  background-color:#FAFAFA;
  border-color: #CCC;
  border-radius: 2px;
  border-width: 1px;
  box-shadow: 2px 2px 5px silver;
}

#keyboardTable {
  border-collapse: collapse;
  table-layout: fixed;
  margin-right: 3px;
}

#keyboardTable td{
  padding-right: 10px;
}

#inputLabel [type=submit], #labelInputLabel [type=submit]{
  background-color: DodgerBlue;
  color: #fff;  
}

#canvas, #canvas > div{
  top: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}
  
#arrowDialog{
  top:108px;
  left:150px;
  z-index: 2;
  position: absolute;
}

#dictionary, #numberDialog, #brokenDSTDialog, #labelDialog, #wpsLogoInfo, #dstLogoInfo, #incompleteStoryInfo, #versionDialog, #keyboardShortcutInfoDialog, #downloadDialog, #noContentOnCanvasInfo{
  top: 40%;
  left: 50%;
  z-index: 2;
  position: absolute;
}

#dstLogoInfo{
  font-size: 11pt;  
  border: solid 1px #aaaaab;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  width: 310px;
  margin-left: -155px;
}

#wpsLogoInfo, #incompleteStoryInfo, #versionDialog, #keyboardShortcutInfoDialog, #brokenDSTDialog, #noContentOnCanvasInfo{
  font-size: 11pt;  
  border: solid 1px #aaaaab;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  width: 350px;
  margin-left: -175px;
}

#dictionary{
  position: absolute;
  border: solid 1px #aaaaab;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  top: 20%;
  width: 625px;
  left: 25%;
}

#activityDictionary, #workobjectDictionary{
  position: relative;
}

#workobjectDictionary{
  margin-left: 10px;
  right: 5px;
}

#activityDictionaryContainer, #workobjectDictionaryContainer{
  width: 300px; 
  overflow-y: scroll;
  height: 300px;
  border: solid 1px #aaaaab;
}

#workobjectDictionaryContainer{
  margin-right: -50px;
}

#dictionaryButtons{
  bottom: 5px;
  padding: 4px;
}

#closeDSTLogoInfo, #closeWPSLogoInfo, #closeIncompleteStoryInfo, #closeVersionDialog, #keyboardShortcutInfoDialogButtonCancel, #downloadDialogCancelButton, #brokenDSTDialogButtonCancel, #closeNoContentOnCanvasInfo{
  position: absolute;
  font-size: 9pt;
  right: 1px;
  top: 1px;
}

.buttons{
  position: relative;
  margin-top: -2px;
  left: -2em;
}

.prevoiusStepButton, .NextStepButton, .stopReplayButton {
  opacity: 0.2;
  pointer-events: none;
}

.arrow{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border: 0.9rem solid transparent;
  border-top-color: #FAFAFA;  
  border-left-color: #FAFAFA;
  -moz-transform: scale(0.9999);
  transform: rotate(45deg);
  left: 20px;
  bottom: 305px;
}

.djs-context-pad.open{
  margin-right: 18px;
  border: solid 1px #80808054; 
}

.djs-context-pad.open > .group{
  border: solid 1px #80808054;
  padding: 1px;
  background-color: white;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #a9a9a9;
  z-index: 99;
  top:100%;
  left: 0;
  text-align: left;
}
.autocomplete-items div {
  padding: 5px 10px 5px 10px;
  font-size: 10pt;
  cursor: pointer;
  background-color: #fafafa; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #fafafa; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/**
 * from bpmn.io
 */

/**
 * palette
 */

 .djs-palette {
  position: absolute;
  left: 20px;
  top: 20px;

  box-sizing: border-box;
  width: 32px;
}

.djs-palette .separator {
  margin: 0 2px;
  padding-top: 0px;

  border: none;
  border-bottom: solid 1px #DDD;

  clear: both;
}

.djs-palette .entry:before {
  vertical-align: middle;
}

.djs-palette .djs-palette-toggle {
  cursor: pointer;
}

.djs-palette .entry,
.djs-palette .djs-palette-toggle {
  color: #333;
  font-size: 26px;

  text-align: center;
}

.djs-palette .entry {
  float: left;
}

.djs-palette .entry img {
  max-width: 100%;
}

.djs-palette .djs-palette-entries:after {
  content: '';
  display: table;
  clear: both;
}

.djs-palette .djs-palette-toggle:hover {
  background: #666;
}

.djs-palette .entry:hover {
  color: rgb(255, 116, 0);
}

.djs-palette .highlighted-entry {
  color: rgb(255, 116, 0) !important;
}

.djs-palette .entry,
.djs-palette .djs-palette-toggle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: default;
}

/**
 * Palette open / two-column layout is controlled via
 * classes on the palette. Events to hook into palette
 * changed life-cycle are available in addition.
 */
.djs-palette.two-column.open {
  width: 64px;
}

.djs-palette:not(.open) .djs-palette-entries {
  display: none;
}

.djs-palette:not(.open) {
  overflow: hidden;
}

.djs-palette.open .djs-palette-toggle {
  display: none;
}
