html, body {
  height: 99.3%;
  width: 99.9%;
  position: absolute;
}

input{
  margin-bottom: 20px;
}

/* Elements by class*/

#modal{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.17;
  position: absolute;
  z-index: 1;
}

#headline {
  font-size: 17pt;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; 
  -webkit-hyphenate-character: auto;  /* not supported by Chrome*/
  margin: 20px;
  cursor: pointer;
  width: 78%;
}

#headline:hover {
  color: red;
}

#headline:hover > #edit {
  opacity: 100;
}

#headline, #imgWPS, #imgDST {
  display: inline-block; 
  *display: inline; 
}

#edit {
  opacity: 0;
}

#logoContainer {
  position: fixed;
  right: 0.4em;
  top: 0.5em;
}

#imgWPS{
  margin-right: 10px;
}

#infoText{
  position: relative;
  font-size: 11pt;
  margin-left: 20px;
  width: 78%;
  height: 68px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; 
  -webkit-hyphenate-character: auto;  /* not supported by Chrome*/
}

#infoText:hover{
cursor: default;
}

#infoText, .buttons{
  display: inline-block; 
  *display: inline; 
}

#buttonImport, #export, #buttonSVG , #dictionaryButton{
  margin-right: -2px;
  background-color: white;
  border: 1px solid white;
}

#buttonImport:hover, #export:hover, #buttonSVG:hover, #buttonStartReplay:hover, #buttonStopReplay:hover, #buttonNextStep:hover, #buttonPreviousStep:hover, #dictionaryButton:hover{
  border: 1px solid #CCC;
  cursor: pointer;
}

#buttonStartReplay, #buttonStopReplay, #buttonNextStep, #buttonPreviousStep{
  background-color: white;
  border: 1px solid white;
  margin-right: -4px;
}

#replayButtons{
  position: absolute;
  margin-top: -3.5em;
  right: 0%;
}

#replayStep{
    position: absolute;
    right: 10px;
    margin-top: -20px;
    padding: 1px;
    display: none;
}

#line{
  padding: 2px;
  position: relative;
  right: 0em;
  left : 0em;
  width: 100%;
  border-bottom: solid 2px #CCC;
  margin-top: -20px;
}

#dialog, #numberDialog, #labelDialog{
  padding: 30px 50px 30px 50px;
  background-color:#FAFAFA;
  border-color: #CCC;
  border-radius: 2px;
  border-width: 1px;
  box-shadow: 2px 2px 5px silver;
}

#inputLabel [type=submit], #labelInputLabel [type=submit]{
  background-color: DodgerBlue;
  color: #fff;  
}

#canvas, #canvas > div{
  top: 0px;
  width: 100%;
  height: 80.7%;
  position: relative;
}
  
#arrowDialog{
  top:108px;
  left:150px;
  z-index: 2;
  position: absolute;
}

#dictionary, #numberDialog, #labelDialog, #wpsLogoInfo, #dstLogoInfo, #incompleteStoryInfo, #versionDialog{
  top: 40%;
  left: 50%;
  z-index: 2;
  position: absolute;
}

#dstLogoInfo{
  font-size: 11pt;  
  border: solid 1px #aaaaab;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  width: 310px;
  margin-left: -155px;

}

#wpsLogoInfo, #incompleteStoryInfo, #versionDialog, #badEditDialog{
  font-size: 11pt;  
  border: solid 1px #aaaaab;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  width: 350px;
  margin-left: -175px;
}

#dictionary{
  position: absolute;
  border: solid 1px #aaaaab;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  top: 20%;
  width: 625px;
  left: 25%;
}

#activityDictionary, #workobjectDictionary{
  position: relative;
}

#workobjectDictionary{
  margin-left: 10px;
  right: 5px;
}

#activityDictionaryContainer, #workobjectDictionaryContainer{
  width: 300px; 
  overflow-y: scroll;
  height: 300px;
  border: solid 1px #aaaaab;
}

#workobjectDictionaryContainer{
  margin-right: -50px;
}

#dictionaryButtons{
  bottom: 5px;
  padding: 4px;
}

#closeDSTLogoInfo, #closeWPSLogoInfo, #closeIncompleteStoryInfo, #closeVersionDialog, #closeBadEditDialogButton{
  position: absolute;
  font-size: 9pt;
  right: 1px;
  top: 1px;
}

/* Elements by ID */

.lineAndbuttons{
  position:relative;
}

.buttons{
  position: relative;
  margin-top: -2px;
  left: -2em;
}

.prevoiusStepButton, .NextStepButton, .stopReplayButton {
  opacity: 0.2;
  pointer-events: none;
}

.arrow{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border: 0.9rem solid transparent;
  border-top-color: #FAFAFA;  
  border-left-color: #FAFAFA;
  -moz-transform: scale(0.9999);
  transform: rotate(45deg);
  left: 20px;
  bottom: 305px;
}

.djs-context-pad.open{
  margin-right: 18px;
  border: solid 1px #80808054; 
}

.djs-context-pad.open > .group{
  border: solid 1px #80808054;
  padding: 1px;
  background-color: white;
}

  /* Domainstory actors */
.icon-domain-story-actor-person::before  {
  /* background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); */
  font-family: "Material Icons"; 
  content: "perm_identity"; 
  background-repeat: no-repeat; 
}

.icon-domain-story-actor-group::before {
  /* background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.5 13c-1.2 0-3.07.34-4.5 1-1.43-.67-3.3-1-4.5-1C5.33 13 1 14.08 1 16.25V19h22v-2.75c0-2.17-4.33-3.25-6.5-3.25zm-4 4.5h-10v-1.25c0-.54 2.56-1.75 5-1.75s5 1.21 5 1.75v1.25zm9 0H14v-1.25c0-.46-.2-.86-.52-1.22.88-.3 1.96-.53 3.02-.53 2.44 0 5 1.21 5 1.75v1.25zM7.5 12c1.93 0 3.5-1.57 3.5-3.5S9.43 5 7.5 5 4 6.57 4 8.5 5.57 12 7.5 12zm0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 5.5c1.93 0 3.5-1.57 3.5-3.5S18.43 5 16.5 5 13 6.57 13 8.5s1.57 3.5 3.5 3.5zm0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z"/></svg>'); */
  font-family: "Material Icons"; 
  content: "group"; 
  background-repeat: no-repeat;
}
  
.icon-domain-story-actor-system::before {
  /* background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M20,18c1.1,0,2-0.9,2-2V6c0-1.1-0.9-2-2-2H4C2.9,4,2,4.9,2,6v10c0,1.1,0.9,2,2,2H0v2h24v-2H20z M4,6h16v10H4V6z"/></svg>'); */
  font-family: "Material Icons";
  content: "computer";
  background-repeat: no-repeat;
}
  
  /* Domainstory workObjects */
.icon-domain-story-workObject::before {
  /* background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve"><g id="Header_x2F_BG" display="none"><rect x="-402" y="-270" display="inline" width="520" height="520"/></g><g id="Bounding_Boxes"><g id="ui_x5F_spec_x5F_header_copy_3"></g><path fill="none" d="M0,0h24v24H0V0z"/></g><g id="Rounded" display="none"><g id="ui_x5F_spec_x5F_header_copy_5" display="inline"></g><path display="inline" d="M14.59,2.59C14.21,2.21,13.7,2,13.17,2H6C4.9,2,4,2.9,4,4v16c0,1.1,0.89,2,1.99,2H18c1.1,0,2-0.9,2-2V8.83c0-0.53-0.21-1.04-0.59-1.41L14.59,2.59z M15,18H9c-0.55,0-1-0.45-1-1v0c0-0.55,0.45-1,1-1h6c0.55,0,1,0.45,1,1v0C16,17.55,15.55,18,15,18z M15,14H9c-0.55,0-1-0.45-1-1v0c0-0.55,0.45-1,1-1h6c0.55,0,1,0.45,1,1v0C16,13.55,15.55,14,15,14z M13,8V3.5L18.5,9H14C13.45,9,13,8.55,13,8z"/></g><g id="Sharp" display="none"><g id="ui_x5F_spec_x5F_header_copy_4" display="inline"></g><path display="inline" d="M14,2H4v20h16V8L14,2z M16,18H8v-2h8V18z M16,14H8v-2h8V14z M13,9V3.5L18.5,9H13z"/></g><g id="Outline"><g id="ui_x5F_spec_x5F_header"></g><g><rect x="8" y="16" width="8" height="2"/><rect x="8" y="12" width="8" height="2"/><path d="M14,2H6C4.9,2,4,2.9,4,4v16c0,1.1,0.89,2,1.99,2H18c1.1,0,2-0.9,2-2V8L14,2z M18,20L6,20V4h7v5h5V20z"/></g></g><g id="Duotone" display="none"><g id="ui_x5F_spec_x5F_header_copy_2" display="inline"></g><g display="inline"><path opacity="0.3" d="M13,4H6v16l12,0V9h-5V4z M16,18H8v-2h8V18z M16,12v2H8v-2H16z"/><g><rect x="8" y="16" width="8" height="2"/><rect x="8" y="12" width="8" height="2"/><path d="M14,2H6C4.9,2,4,2.9,4,4v16c0,1.1,0.89,2,1.99,2H18c1.1,0,2-0.9,2-2V8L14,2z M18,20L6,20V4h7v5h5V20z"/></g></g></g><g id="Fill" display="none"><g id="ui_x5F_spec_x5F_header_copy" display="inline"></g><path display="inline" d="M14,2H6C4.9,2,4,2.9,4,4v16c0,1.1,0.89,2,1.99,2H18c1.1,0,2-0.9,2-2V8L14,2z M16,18H8v-2h8V18z M16,14H8v-2h8V14z M13,9V3.5L18.5,9H13z"/></g><g id="nyt_x5F_exporter_x5F_info" display="none"></g></svg>'); */
  font-family:"Material Icons";
  content: "description";
  background-repeat: no-repeat;
}
  
.icon-domain-story-workObject-folder::before {
  /* background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0,0h24v24H0V0z"/><path d="M9.17,6l2,2H20v10L4,18V6H9.17 M10,4H4C2.9,4,2.01,4.9,2.01,6L2,18c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V8c0-1.1-0.9-2-2-2 h-8L10,4L10,4z"/></svg>'); */
  font-family: "Material Icons";
  content: "folder";
  background-repeat: no-repeat;
}

.icon-domain-story-workObject-call::before {
  /* background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0,0h24v24H0V0z"/><path d="M6.54,5C6.6,5.89,6.75,6.76,6.99,7.59l-1.2,1.2C5.38,7.59,5.12,6.32,5.03,5H6.54 M16.4,17.02c0.85,0.24,1.72,0.39,2.6,0.45 v1.49c-1.32-0.09-2.59-0.35-3.8-0.75L16.4,17.02 M7.5,3H4C3.45,3,3,3.45,3,4c0,9.39,7.61,17,17,17c0.55,0,1-0.45,1-1v-3.49	c0-0.55-0.45-1-1-1c-1.24,0-2.45-0.2-3.57-0.57c-0.1-0.04-0.21-0.05-0.31-0.05c-0.26,0-0.51,0.1-0.71,0.29l-2.2,2.2 c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2C9.1,8.31,9.18,7.92,9.07,7.57C8.7,6.45,8.5,5.25,8.5,4C8.5,3.45,8.05,3,7.5,3L7.5,3z"/></svg>'); */
  font-family: "Material Icons";
  content:"phone";
  background-repeat: no-repeat;
}

.icon-domain-story-workObject-email::before {
  /* background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0,0h24v24H0V0z"/><path fill-opacity="0.9" d="M12,1.95c-5.52,0-10,4.48-10,10s4.48,10,10,10h5v-2h-5c-4.34,0-8-3.66-8-8s3.66-8,8-8s8,3.66,8,8v1.43 c0,0.79-0.71,1.57-1.5,1.57S17,14.17,17,13.38v-1.43c0-2.76-2.24-5-5-5s-5,2.24-5,5s2.24,5,5,5c1.38,0,2.64-0.56,3.54-1.47 c0.65,0.89,1.77,1.47,2.96,1.47c1.97,0,3.5-1.6,3.5-3.57v-1.43C22,6.43,17.52,1.95,12,1.95z M12,14.95c-1.66,0-3-1.34-3-3 s1.34-3,3-3s3,1.34,3,3S13.66,14.95,12,14.95z"/></svg>'); */
  font-family: "Material Icons";
  content: "alternate_email";
  background-repeat: no-repeat;
}
  
.icon-domain-story-workObject-bubble::before {
  /* background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H6l-2 2V4h16v12z"/></svg>'); */
  font-family: "Material Icons";
  content: "chat_bubble_outline";
  background-repeat: no-repeat;
}
  
.icon-domain-story-workObject-info::before {
  /* background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/></svg>'); */
  font-family: "Material Icons";
  content: "info";
  background-repeat: no-repeat;
}
  
.icon-domain-story-group::before {
  /* background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/></svg>'); */
  font-family: "Material Icons";
  content: "crop_5_4";
  background-repeat: no-repeat;
}

.icon-domain-story-changeDirection::before{
  font-family: "Material Icons";
  content: "swap_horiz";
  background-repeat: no-repeat;
}

.icon-domain-story-spellcheck::before{
  font-family: "Material Icons";
  content: "spellcheck";
  background-repeat: no-repeat;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #a9a9a9;
  z-index: 99;
  top:100%;
  left: 0;
  text-align: left;
}
.autocomplete-items div {
  padding: 5px 10px 5px 10px;
  font-size: 10pt;
  cursor: pointer;
  background-color: #fafafa; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #fafafa; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}