<div class="details smallScrollbar">
  <div class="iconSetDetails bottom-border">
    <form class="inputWidth inputHeight">
      <div class="alignment"></div>
      <mat-form-field class="inputHeight">
        <input
          matInput
          type="text"
          placeholder="Icon Set Name"
          (input)="changeName($event)"
          [value]="iconSetName | async"
        />
      </mat-form-field>
    </form>
  </div>
  <div class="actorList bottom-border">
    <h3>Order of Actors</h3>
    <mat-list>
      <mat-list-item
        class="compactItem"
        *ngFor="let iconName of selectedActors$ | async; let i = index"
        draggable="true"
        (dragover)="allowDrop($event, 'actorList')"
        (dragstart)="onDragStart(i, 'actorList')"
        (drop)="onDrop($event, iconName, true, i)"
      >
        <app-details-list-item
          [icon]="getIconForName(iconName)"
        ></app-details-list-item>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="workobjectList">
    <h3>Order of Work Objects</h3>
    <mat-list>
      <mat-list-item
        class="compactItem"
        *ngFor="let iconName of selectedWorkobjects$ | async; let i = index"
        draggable="true"
        (dragover)="allowDrop($event, 'workobjectList')"
        (dragstart)="onDragStart(i, 'workobjectList')"
        (drop)="onDrop($event, iconName, false, i)"
      >
        <app-details-list-item
          [icon]="getIconForName(iconName)"
        ></app-details-list-item>
      </mat-list-item>
    </mat-list>
  </div>
</div>
