.header {
  display: grid;
  grid-template-columns: 120px auto 120px 120px auto 130px 130px 140px;
  border-bottom: #ccc 2px solid;
}

.mat-button {
  color: #666666;
}

.domainConfiguration {
  display: grid;
  grid-template-columns: auto 250px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 100px;
  grid-column-gap: 2px;
}

.icons {
  display: grid;
  grid-template-rows: 2rem auto;
  height: 100%;
  grid-row-gap: 1px;
}

.searchbar {
 display: grid;
  grid-template-columns: 300px 10px 150px 170px 170px auto;
}

.active {
  color: #42aebb;
}

.textInput {
  width: 300px;
  margin-top: 5px;
}

.iconList {
  display: grid;
  overflow-y: scroll;
  height: calc(100vh - 130px);
}

::ng-deep.mat-grid-tile {
  .mat-grid-tile-content {
    justify-content: inherit;
  }
}

