<div class="settings">
  <mat-toolbar color=primary class="toolbar">
    <mat-toolbar-row>
      <div class="smallButton">
        <button
          class="headerButton noPadding" mat-button (click)="close()">
          <span class="material-icons-outlined materialIconButton"> arrow_back</span>
        </button>
      </div>
      <button
        class="headerButton mr-10"
        [class.unset]="!(showDomainCustomization | async)"
        mat-button (click)="openDomainCustomization()">
        <span class="headline">Domain Customization</span>
      </button>
      <button
        class="headerButton"
        [class.unset]="!(showGeneralSettings | async)"
        mat-button (click)="openGeneralSettings()">
        <span class="headline">General Settings</span>
      </button>

    </mat-toolbar-row>
  </mat-toolbar>

  <app-general-settings *ngIf="showGeneralSettings | async"></app-general-settings>
  <app-domain-configuration *ngIf="showDomainCustomization | async" class="tab"></app-domain-configuration>
</div>
