mat-toolbar * {
  color: white;
}

app-general-settings {
  overflow-y: auto;
}

.settings {
  display: grid;
  grid-template-rows: 65px auto;
  width: 100%;
  height: 100%;

  :host::ng-deep.mat-button {
    padding: 0;
  }

  .materialIconButton {
    margin-top: 0;
    margin-right: 5px;
    padding: 0;
  }
}

.highlight {
  border: 2px solid white;
}

.tab {
  display: inline-block;
  height: calc(100% - 10px);
  width: 100%;
  overflow: hidden;
}

:host::ng-deep.mat-tab-label,
:host::ng-deep.mat-tab-label-active {
  height: 30px !important;
}
