<div class="settings">
  <mat-toolbar color=primary class="toolbar">
    <mat-toolbar-row>
      <button
        class="headerButton noPadding" mat-button (click)="close()">
        <span class="material-icons-outlined materialIconButton"> arrow_back_ios</span>
        <span class="headline">Back to Modeler</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-tab-group class="tabs">
    <mat-tab label="General">
      <app-general-settings></app-general-settings>
    </mat-tab>
    <mat-tab label="Domain Customization">
      <app-domain-configuration class="tab"></app-domain-configuration>
    </mat-tab>
  </mat-tab-group>
</div>
