<div class="content" role="main">
  <app-settings *ngIf="showSettings$ | async"></app-settings>
  <div
    [class.headerAndCanvas]="
      !(showSettings$ | async) && (showDescription$ | async)
    "
    [class.headerAndCanvasCollapsed]="
      !(showSettings$ | async) && !(showDescription$ | async)
    "
    [class.hidden]="showSettings$ | async"
  >
    <input type="color" id="colorPicker" style="display: none" />

    <app-header
      [class.header]="showDescription$ | async"
      [class.headerCollapsed]="!(showDescription$ | async)"
    ></app-header>
    <app-modeler></app-modeler>
  </div>

  <div
    [class.logoContainer]="!(showSettings$ | async)"
    [class.hidden]="showSettings$ | async"
  >
    <span>
      <img src="./favicon.ico" height="24" alt="Egon Logo" />
      <a href="https://egon.io" target="_blank"> egon.io</a>
      version:
      <a
        href="https://github.com/WPS/egon.io/releases/latest"
        target="_blank"
        >{{ version }}</a
      >
      by <img src="./assets/logo/wps-icon.ico" height="24" alt="WPS Logo" />
      <a href="https://www.wps.de/" target="_blank">WPS</a>
    </span>
  </div>
</div>
