.description {
  min-height: 102px; /* but why? */
}

::ng-deep.isSelected button {
  background-color: #a4d7e1;
}

.wrapper {
  display: grid;
  grid-template-columns: 70% auto;
  gap: 1rem;
}

.TitleAndDescription {
  display: flex;
  flex-direction: column;
}

.Scope {
  display: flex;
  flex-direction: column;
}
