.firstRow {
  min-height: 4rem;
  padding: 0px;
}

.tab-like {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.tab-small {
  height: 100%;
  width: 200px;
  border-radius: 0px;
}

.settings {
  display: grid;
  grid-template-rows: 4rem auto;
  width: 100%;
  height: 100%;
}

.highlight {
  background-color: #0093ac;
}

.alignedWithText {
  vertical-align: middle;
}
