<div class="settings">
  <mat-toolbar>
    <mat-toolbar-row class="firstRow">
      <button mat-button (click)="close()">
        <span class="material-icons"> arrow_back</span>
        Back
      </button>
      <button
        class="headerButton tab-like"
        [class.highlight]="showIconSetCustomization | async"
        mat-button
        (click)="openIconSetCustomization()"
      >
        <span class="headline">Customize Icon Set</span>
      </button>
      <button
        class="headerButton tab-like"
        [class.highlight]="showGeneralSettings | async"
        mat-button
        (click)="openGeneralSettings()"
      >
        <span class="headline">General Settings</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  @if (showGeneralSettings | async) {
    <app-general-settings />
  }
  @if (showIconSetCustomization | async) {
    <app-icon-set-configuration />
  }
</div>
