<div class="settings">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <button class="headerButton noPadding" mat-icon-button (click)="close()">
        <span class="material-icons-outlined materialIconButton">
          arrow_back</span
        >
      </button>
      <div class="paddedButton">
        <button
          class="headerButton mr-10"
          [class.highlight]="showIconSetCustomization | async"
          mat-button
          (click)="openIconSetCustomization()"
        >
          <span class="headline">Customize Icons for Your Domain</span>
        </button>
        <button
          class="headerButton"
          [class.highlight]="showGeneralSettings | async"
          mat-button
          (click)="openGeneralSettings()"
        >
          <span class="headline">General Settings</span>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  @if (showGeneralSettings | async) {
    <app-general-settings />
  }
  @if (showIconSetCustomization | async) {
    <app-icon-set-configuration />
  }
</div>
