<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Autosaves </mat-panel-title>
      <mat-panel-description>
        {{ drafts.length ? drafts.length : "no" }}
        {{ drafts.length > 1 ? "drafts" : "draft" }} available
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="items" *ngIf="drafts.length; else noDrafts">
      <div *ngFor="let draft of drafts" class="item border-bottom">
        <div>
          <div class="item-title">{{ draft.title }}</div>
          <div class="item-date">{{ draft.date }}</div>
        </div>
        <button
          class="item-button"
          mat-raised-button
          color="primary"
          (click)="loadDraft(draft)"
        >
          Load Draft
        </button>
      </div>
      <div class="item">
        <div></div>
        <button
          class="item-button"
          mat-raised-button
          color="primary"
          (click)="removeAllDrafts()"
        >
          Remove All Drafts
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #noDrafts>No drafts found.</ng-template>
