<div class="content">
  <div>
    <div class="header">
      <div class="searchbar">
        <div>Filter by assignment:</div>
        <button
          mat-button
          [class.activeNone]="(filter | async) === 'ICON_FILTER_UNASSIGNED'"
          title="Unassigned Icons"
          (click)="filterForUnassigned()"
        >
          <span>None</span>
        </button>
        <button
          mat-button
          [class.activeActor]="(filter | async) === 'ICON_FILTER_ACTOR'"
          title="Icons used as actors"
          (click)="filterForActors()"
        >
          <span>Actors</span>
        </button>
        <button
          mat-button
          [class.activeWorkObject]="
            (filter | async) === 'ICON_FILTER_WORKOBJECT'
          "
          title="Icons used as work objects"
          (click)="filterForWorkobjects()"
        >
          <span>Work Objects</span>
        </button>
        <input
          class="textInput"
          matInput
          type="text"
          placeholder="Search icons"
          (input)="filterByNameAndType($event)"
        />
      </div>
      <div class="buttons">
        <button mat-button title="Upload Icon" (click)="startIconUpload()">
          <span class="material-icons-outlined materialIconButton">upload</span>
          <input
            type="file"
            multiple
            accept=".svg, image/png, image/jpeg, image/gif, image/bpmn"
            style="display: none"
            id="importIcon"
            name="file"
            onclick="this.value=null"
            (change)="importIcon()"
          />
        </button>
        <button
          mat-button
          class="button"
          title="Reset to default icon set"
          (click)="loadMinimalIconConfigurationWithDefaultIcons()"
        >
          <span class="material-icons-outlined materialIconButton"> home </span>
        </button>
        <button
          mat-button
          title="Cancel changes"
          (click)="loadInitialConfiguration()"
        >
          <span class="material-icons-outlined materialIconButton">close</span>
        </button>
        <div class="divider"></div>
        <button mat-button title="Save icon set" (click)="saveIconSet()">
          <span class="material-icons-outlined materialIconButton">save</span>
        </button>
        <div class="divider"></div>
        <button
          mat-button
          title="Import icon set"
          (click)="startIconSetImport()"
        >
          <span class="material-icons-outlined materialIconButton"
            >unarchive</span
          >
          <input
            type="file"
            accept=".domain, .iconset"
            style="display: none"
            id="importDomain"
            name="file"
            onclick="this.value=null"
            (change)="importIconSet()"
          />
        </button>
        <button mat-button title="Export icon set" (click)="exportIconSet()">
          <span class="material-icons-outlined materialIconButton"
            >archive</span
          >
        </button>
      </div>
    </div>
    <div class="iconList smallScrollbar">
      @for (iconName of allFilteredIconNames | async; track iconName) {
        <app-icon-list-item [iconName]="iconName"></app-icon-list-item>
      }
    </div>
  </div>
  <app-icon-set-details class="iconSetDetails"></app-icon-set-details>
</div>
