.content {
  display: grid;
  grid-template-columns: auto 250px;
}

.header {
  display: grid;
  grid-template-columns: max-content auto;
  height: 46px;
  background-color: #e4eff3;
}

.searchbar {
  display: inline-flex;
  margin-left: 15px;
  margin-right: 15px;
  align-self: center;
  align-items: center;
  justify-self: left;
  height: inherit;
}

.buttons {
  display: inline-flex;
  align-self: center;
  align-items: center;
  justify-self: right;
  height: inherit;

  ::ng-deep.mat-button {
    min-width: 36px;
  }
}

.activeNone {
  background-color: #e0e0e0;
}

.activeActor {
  background-color: #b3d8e0;
}

.activeWorkObject {
  background-color: #3eafbf;
  color: white;
}

.textInput {
  width: 300px;
  margin-left: 15px;
  margin-right: 5px;
  border: #666666 1px solid;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.iconList {
  display: flex;
  overflow-y: scroll;
  height: calc(100vh - 130px);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: baseline;
  margin-top: 1rem;
  margin-left: 1rem;
  gap: 1rem;

  :nth-last-child(1) {
    margin-bottom: 1rem;
  }
}

.iconSetDetails {
  width: 250px;
}

::ng-deep.mat-grid-tile {
  .mat-grid-tile-content {
    justify-content: inherit;
  }
}
