<div class="content">
  <div>
    <div class="header">
      <div class="searchbar">
        <div>Filter:</div>
        <button
          mat-button
          [class.activeNone]="(filter | async) === 'ICON_FILTER_UNASSIGNED'"
          title="Unassigned Icons"
          (click)="filterForUnassigned()"
        >
          <span>Unassigned</span>
        </button>
        <button
          mat-button
          [class.activeActor]="(filter | async) === 'ICON_FILTER_ACTOR'"
          title="Icons used as actors"
          (click)="filterForActors()"
        >
          <span>Actors</span>
        </button>
        <button
          mat-button
          [class.activeWorkObject]="
            (filter | async) === 'ICON_FILTER_WORKOBJECT'
          "
          title="Icons used as work objects"
          (click)="filterForWorkobjects()"
        >
          <span>Work Objects</span>
        </button>
        <input
          class="textInput"
          matInput
          type="text"
          placeholder="Search icons"
          (input)="filterByNameAndType($event)"
        />
      </div>
      <div class="buttons">
        <button
          mat-stroked-button
          class="mr-1"
          title="Upload icon"
          (click)="startIconUpload()"
        >
          <span>Upload icon</span>
          <input
            type="file"
            multiple
            accept=".svg, image/png, image/jpeg, image/gif, image/bpmn"
            style="display: none"
            id="importIcon"
            name="file"
            onclick="this.value=null"
            (change)="importIcon()"
          />
        </button>
        <button
          mat-stroked-button
          class="mr-1"
          title="Reset to default icon set"
          (click)="loadMinimalIconConfigurationWithDefaultIcons()"
        >
          <span>Reset to default</span>
        </button>
        <button
          mat-stroked-button
          class="mr-1"
          title="Cancel changes"
          (click)="loadInitialConfiguration()"
        >
          <span>Cancel changes</span>
        </button>
        <button
          mat-stroked-button
          class="mr-1"
          title="Save changes"
          (click)="saveIconSet()"
        >
          <span>Save changes</span>
        </button>
        <button
          mat-stroked-button
          class="mr-1"
          title="Import icon set"
          (click)="startIconSetImport()"
        >
          <span>Import icon set</span>
          <input
            type="file"
            accept=".domain, .iconset"
            style="display: none"
            id="importDomain"
            name="file"
            onclick="this.value=null"
            (change)="importIconSet()"
          />
        </button>
        <button
          mat-stroked-button
          class="mr-1"
          title="Export icon set"
          (click)="exportIconSet()"
        >
          <span>Export icon set</span>
        </button>
      </div>
    </div>
    <div class="iconList smallScrollbar">
      @for (iconName of allFilteredIconNames | async; track iconName) {
        <app-icon-list-item [iconName]="iconName"></app-icon-list-item>
      }
    </div>
  </div>
  <app-icon-set-details class="iconSetDetails"></app-icon-set-details>
</div>
