<mat-toolbar color="primary">
  <mat-toolbar-row>
    @if (showDescription | async) {
      <button
        class="headerButton"
        title="Hide Description"
        (click)="setShowDescription(false)"
      >
        <span class="material-icons materialIconButton toggle">
          expand_less
        </span>
      </button>
    }
    @if (!(showDescription | async)) {
      <button
        class="headerButton"
        title="Show Description"
        (click)="setShowDescription(true)"
      >
        <span class="material-icons materialIconButton toggle">
          expand_more</span
        >
      </button>
    }
    <div class="mr-10 titel-scrollbar">
      <span
        class="headline"
        (click)="openHeaderDialog()"
        title="Edit Title and Description"
      >
        {{ title$ | async }}
        <span class="material-icons materialIconButton editIcon"> edit </span>
      </span>
    </div>

    <span class="titleSpacer"></span>

    @if (isReplay$ | async) {
      <span title="Replay Sentence">
        Sentence: {{ sentenceDescription$ | async }}</span
      >
    }

    <span class="buttonSpacer"></span>
    <app-header-buttons
      class="nowrap"
      [hasDomainStory]="hasDomainStory"
      [hasTitle]="hasTitle"
      [isDirty]="isDirty$ | async"
      [isReplayable]="isReplayable"
      (import)="onImport()"
      (openSettings)="openSettings()"
      (startReplay)="startReplay()"
      (stopReplay)="stopReplay()"
      (nextSentence)="nextSentence()"
      (previousSentence)="previousSentence()"
      (newStory)="createNewDomainStory()"
      (showKeyboardShortCuts)="openKeyboardShortcutsDialog()"
      (openLabelDictionary)="openLabelDictionary()"
      (openDownloadDialog)="openDownloadDialog()"
      (openUploadUrlDialog)="openUploadUrlDialog()"
    />
  </mat-toolbar-row>
</mat-toolbar>
@if (showDescription$ | async) {
  <mat-card class="smallScrollbar description">
    <span class="descriptionText">{{ description$ | async }}</span>
  </mat-card>
}
