.mat-expansion-panel-header {
  flex-direction: row-reverse;
  gap: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 12px;
}

.mat-expansion-panel-header-description {
  flex-direction: row-reverse;
}

.nowrap {
  white-space: nowrap;
}

.headline {
  min-width: 30%;
  font-size: medium;
}
