.details {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 46px - 20px);
  grid-row-gap: 4px;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #f7f7f8;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.IconSet {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
}

.compactItem {
  height: 40px !important;
}

.compactItem:hover {
  cursor: pointer;
}

.fullWidth {
  width: 100%;
  padding-left: 12px;
}

.exportForm {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 8px;
  margin-bottom: 0;
}

h3 {
  padding-left: 12px;
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: bold;
}

mat-list {
  padding-top: 0;
}

::ng-deep.mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
}
