.disabled .button-label,
.disabled span,
.disabled:hover span {
  cursor: initial;
  color: gray;
}

.dirty {
  color: #b64435;
}

.dirty:hover {
  color: #0093ac;
}

.replaying {
  display: flex;
}

/** fixed width avoids "jumping" of label when sequence number reaches double digits**/
.sentences {
  align-self: center;
  margin-left: 16px;
  width: 150px;
}
