<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Autosaves </mat-panel-title>
      <mat-panel-description> List of all Autosaves </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngFor="let autosave of autosaves" class="items">
      <mat-list-item>
        <div class="item">
          <div>
            <div class="item-title">{{ autosave.title }}</div>
            <div class="item-date">{{ autosave.date }}</div>
          </div>
          <button class="item-button" mat-raised-button color="primary" (click)="loadAutosave(autosave)">Load Draft</button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
