<mat-dialog-content>
  <h2>{{ title }}</h2>
  <label>
    <input
      type="checkbox"
      [checked]="withTitle | async"
      (change)="updateWithTitle($event)"
    />
    Add title and description to image
  </label>
  <br />
  <label>
    <input
      type="checkbox"
      [checked]="useWhiteBackground | async"
      (change)="updateUseWhiteBackground($event)"
    />
    Add white background to SVG (default: transparent)
  </label>
</mat-dialog-content>
<mat-dialog-actions>
  <br />

  <div>
    <button mat-flat-button (click)="close()">Cancel</button>
    @for (option of options; track option; let i = $index) {
        <button
          mat-stroked-button
          class="mr-1"
          [title]="option.tooltip"
          (click)="doOption(i)"
        >
          {{ option.text }}
        </button>
    }
<!--    <br/>-->
<!--    <br/>-->

<!--    @for (option of dropboxOtions; track option; let i = $index) {-->
<!--      <button-->
<!--        mat-stroked-button-->
<!--        class="mr-1"-->
<!--        [title]="option.tooltip"-->
<!--        (click)="doOption(i)"-->
<!--      >-->
<!--        {{ option.text }}-->
<!--      </button>-->
<!--    }-->



  </div>
</mat-dialog-actions>
