// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import "@angular/material";
@import "material-icons/iconfont/material-icons.css";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.all-component-typographies();
@include mat.core();

:root {
  --borderGray10: #e8e9ed;
}
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$egon-primary: mat.define-palette(mat.$cyan-palette);
$egon-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$egon-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$egon-theme: mat.define-light-theme(
  (
    color: (
      primary: $egon-primary,
      accent: $egon-accent,
      warn: $egon-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($egon-theme);

/* FONTS */

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto-Regular"), url("~src/assets/font/Roboto-Regular.woff");
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

.smallScrollbar {
  /* Works on Firefox */
  scrollbar-width: thin;

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
}

.headline {
  font-size: 17pt;
  height: 40px;
  cursor: pointer;
}

.headerButton {
  background-color: transparent;
  border: none;
  letter-spacing: 0.05em;
}

.spacer {
  flex: 1 1 auto;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.materialIconButton {
  font-size: 24px !important;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 9px;
}

.materialIconButton:hover {
  color: grey;
}

app-root {
  display: block;
  height: 100%;
}

a {
  color: map-get($egon-accent, 900);
}

/* Material Design */

mat-dialog-actions.mdc-dialog__actions {
  padding: 0 24px 20px 24px;
  justify-content: end;
}

/* Snackbar */

.mat-mdc-snack-bar-container {
  &.snackbar_success {
    --mdc-snackbar-container-color: darkgreen;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.snackbar_warning {
    --mdc-snackbar-container-color: darkorange;
    --mat-mdc-snack-bar-button-color: black;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.snackbar_error {
    --mdc-snackbar-container-color: #d04437;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.snackbar_info {
    --mdc-snackbar-container-color: #46aebd;
    --mat-mdc-snack-bar-button-color: black;
    --mat-snack-bar-button-color: #000000;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

/* BPMN elements */

.djs-overlay-context-pad {
  min-width: 7.5rem;
  height: auto;
}

.djs-context-pad.open {
  border: solid 1px #b9bcc6;
}

.djs-context-pad.open > .group {
  border: solid 1px #b9bcc6;
  padding: 1px;
  background-color: #f7f7f8;
}

/**
 * from bpmn.io
 */

/**
 * palette
 */

.djs-palette {
  position: absolute;
  left: 20px;
  top: 20px;

  box-sizing: border-box;
  width: 32px;
}

.djs-palette .separator {
  margin: 0 2px;
  padding-top: 0;

  border: none;
  border-bottom: solid 1px #b9bcc6;

  clear: both;
}

.djs-palette .entry:before {
  vertical-align: middle;
}

.djs-palette .djs-palette-toggle {
  cursor: pointer;
}

.djs-palette .entry,
.djs-palette .djs-palette-toggle {
  color: #333;
  font-size: 26px;

  text-align: center;
}

.djs-palette .entry {
  float: left;
}

.djs-palette .entry img {
  max-width: 100%;
}

.djs-palette .djs-palette-entries:after {
  content: "";
  display: table;
  clear: both;
}

.djs-palette .djs-palette-toggle:hover {
  background: #666;
}

.djs-palette .entry:hover {
  fill: #46aebd;
}

.djs-palette .highlighted-entry {
  color: #46aebd !important;
}

.djs-palette .entry,
.djs-palette .djs-palette-toggle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: default;
}

/**
 * Palette open / two-column layout is controlled via
 * classes on the palette. Events to hook into palette
 * changed life-cycle are available in addition.
 */
.djs-palette.two-column.open {
  width: 64px;
}

.djs-palette:not(.open) .djs-palette-entries {
  display: none;
}

.djs-palette:not(.open) {
  overflow: hidden;
}

.djs-palette.open .djs-palette-toggle {
  display: none;
}

/**
 * outline styles
 */

.djs-outline {
  fill: none;
  visibility: hidden;
}

.djs-element.hover .djs-outline,
.djs-element.selected .djs-outline {
  visibility: visible;
  shape-rendering: crispEdges;
  stroke-dasharray: 3, 3;
}

.djs-element.hover .djs-outline {
  stroke: #46aebd;
}

.djs-element.attach-ok .djs-visual > :nth-child(1) {
  stroke: #46aebd !important;
}

/**
* Selection box style
*
*/
.djs-lasso-overlay {
  stroke: #46aebd;
}

/**
 * Resize styles
 */
.djs-resize-overlay {
  stroke: #46aebd;
}

/**
 * drag styles
 */
.djs-dragger .djs-visual circle,
.djs-dragger .djs-visual path,
.djs-dragger .djs-visual polygon,
.djs-dragger .djs-visual polyline,
.djs-dragger .djs-visual rect,
.djs-dragger .djs-visual text {
  fill: none !important;
  stroke: #46aebd !important;
}

/**
 * snapping
 */
.djs-snap-line {
  stroke: #46aebd;
  stroke: #f6e4c3;
}

.djs-palette .entry:hover {
  color: #46aebd;
}

.djs-palette .highlighted-entry {
  color: #46aebd !important;
}

.djs-context-pad .entry:hover {
  background: #46aebd;
}

.djs-popup .djs-popup-header .entry.active {
  color: #46aebd;
  border: solid 1px #46aebd;
  background-color: #f7f7f8;
}

.djs-popup-body .entry {
  width: auto !important;
}

.djs-segment-dragger:hover .djs-visual,
.djs-segment-dragger.djs-dragging .djs-visual,
.djs-bendpoint:hover .djs-visual,
.djs-bendpoint.floating .djs-visual {
  fill: #46aebd;
  stroke-opacity: 0.5;
  stroke: black;
}

.djs-segment-dragger.djs-dragging .djs-visual,
.djs-bendpoint.djs-dragging .djs-visual {
  fill: #46aebd;
}

.djs-tooltip-error > * {
  color: #46aebd;
  border-left: solid 5px #46aebd;
}

.autocomplete-items {
  border: 1px solid #b9bcc6;
  background-color: #f7f7f8;
}

.autocomplete-active {
  background-color: #46aebd !important;
  color: #ffffff;
}
