<div>
  <button (click)="save()">Save</button>
  <button (click)="cancel()">Cancel</button>
</div>
<div class="labelDictionary">
  <div class="Workobject List">
    <span>Workobject List</span>
    <mat-list>
      <mat-list-item
        *ngFor="let workobjectEntry of workobjectEntriesSubject | async"
      >
        <input
          class="inputText"
          type="text"
          [value]="workobjectEntry.name"
          (change)="updateWorkobjectEntry($event, workobjectEntry)"
        />
      </mat-list-item>
    </mat-list>
  </div>
  <div class="line"></div>
  <div class="ActivityList">
    <span>Activity List</span>
    <mat-list>
      <mat-list-item
        *ngFor="let activityEntry of activityEntriesSubject | async"
      >
        <input
          class="inputText"
          type="text"
          [value]="activityEntry.name"
          (change)="updateActivityEntry($event, activityEntry)"
        />
      </mat-list-item>
    </mat-list>
  </div>
</div>
